<?xml version="1.0"?>
<config>
	<modules>
		<Shiptheory_Royalmailst>
			<version>0.0.1</version>
		</Shiptheory_Royalmailst>
	</modules>
	<global>
		<models>
			<royalmailst>
				<class>Shiptheory_Royalmailst_Model</class>
			</royalmailst>
		</models>
		<helpers>
			<royalmailst>
				<class>Shiptheory_Royalmailst_Helper</class>
			</royalmailst>
		</helpers>
		<blocks>
			<royalmailst>
				<class>Shiptheory_Royalmailst_Block</class>
			</royalmailst>
		</blocks>
	</global>
	<admin>
		<routers>
			<royalmailst>
				<use>admin</use>
				<args>
					<module>Shiptheory_Royalmailst</module>
					<frontName>royalmailst</frontName>
				</args>
			</royalmailst>
		</routers>
	</admin>
	<adminhtml>
		<layout>
			<updates>
				<shiptheory>
					<file>shiptheory.xml</file>
				</shiptheory>
			</updates>
		</layout>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<royalmailst translate="title" module="royalmailst">
											<title>Royal Mail Setup</title>
											<sort_order>20</sort_order>
										</royalmailst>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
</config>
